<?
require ('config.php');
$id='1015';
if (!$note) {
	$note="随心，悠然；<br>随性，淡然；<br>随缘，怡然；<br>随意，了然；<br>随遇而安，泰然；<br>随心所欲，超然。<br>周末了，<br>愿你快乐如影随形！";
	$note1="随心，悠然；<br>随性，淡然；<br>随缘，怡然；<br>随意，了然；<br>随遇而安，泰然；<br>随心所欲，超然。<br>周末了，<br>愿你快乐如影随形！";
} else {
	if (strlen($from)>=6) {
	  $note=urldecode($note);
	  $note1=str_replace("，","，<br>",$note);
	  $note1=str_replace("。","。<br>",$note1);
	  $note1=str_replace("！","！<br>",$note1);
	} else {
	  $note=urldecode($note);
	  $note1=str_replace("，","，<br>",$note);
	  $note1=str_replace("。","。<br>",$note1);
	  $note1=str_replace("！","！<br>",$note1);
	}
	if ($t=="ss") {
	  $note=iconv("utf-8","gb2312",$note);
	  $note1=str_replace("，","，<br>",$note);
	  $note1=str_replace("。","。<br>",$note1);
	  $note1=str_replace("！","！<br>",$note1);
	}
}
?>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    

    <title>周末愉快</title>
		
	
	<script>
		gSizeMode = 'bodywidth';
		gAnimateMode = 'print';
		gSound = 'sound/qingyinyue4.mp3'
		gColor = 'white';
		gTextAreaLeft = 0.0762;
		gTextAreaTop = 0.1;
		gTextAreaWidth = 0.8;
		gTextAreaHeight = 0.45;		
		gCardTextNoWrap ='zmyk';
		gCardText ='' || '<?=$note1?>';		
	gShareLogo = '<?=$page_url?>img/home/<?=$id?>.jpg';
            gShareUrl = '<?=$page_url?><?=$id?>.php?note=<?=urlencode($note)?>';
            gShareTitle = '送给你';
            gShareDesc = '<?=$note?>';
	</script>
<script src="../public/js/showcard_nosound.js?d=1"></script>
<script src="../public/js/showcard_weixin.js?d=1"></script>
<div id="audiocontainer"></div>
<div id="cardsound" style="position: fixed; left: 440px; top: 40px; z-index: 5000; visibility: visible;"></div>
 
 </head>

<body onLoad="onLoad();">

<img src="img/1015_files/139581509033.gif" width="100%">




	

 

<div id="ruler" style="width:100%;height:0"></div>
<div id="textsuper" style="position: absolute; top: 58.5px; left: 44.577000000000005px; overflow: hidden; z-index: 4; height: 263.25px; width: 468px;">
	<div id="textsub" style="color: black; line-height: 80pt; position: relative; font-size: 70px; top: -903px;">
		<b id="textcontent" style="color: white;"><?=$note1?></b>
    </div>
</div>

<?
require ('footer.php');
?>