<?
require ('config.php');
?>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta http-equiv="Cache-Control" content="no-cache" />
<meta name="viewport" content="width=device-width"/>
<meta name="MobileOptimized" content="320"/>
<title>生日-美卡</title>

<link rel="stylesheet" type="text/css" href="css/homestyle.css" media="all">


</head>

<body class="pic">

<nav class="site all">
	<a  href="index.php">最新</a>
  <a href="love.php">爱情</a>
  <a href="show3.php">心情</a>
  <a href="greeting.php">问候</a>
  <a href="birthday.php" style="background:#ff9900">生日</a>
  
</nav>
<nav class="site all">
<a href="zhufu.php">祝福</a>
<a href="gaoguai.php">搞怪</a>
</nav>


<section class="cnl">
<h3 class="h ht2">
	<em>生日-美卡</em>
	<p align="right"> <a style="color:color:#3783c6;font-size:12pt;" href="index.php">更多</a></p>
</h3>
<section class="pl pl_c2">

	<a href="5008.php" class="h4">
		<i class="img"><img src="img/home/5008.jpg" width="80" height="80"></i>
<p>生日快乐</p><p>编号:5008</p></a>

	<a href="5007.php" class="h4">
		<i class="img"><img src="img/home/5007.jpg" width="80" height="80"></i>
<p>送首歌给你</p><p>编号:5007</p></a>

	<a href="5001.php" class="h4">
		<i class="img"><img src="img/home/5001.jpg" width="80" height="80"></i>
<p>温馨祝福</p><p>编号:5001</p></a>

</section>
<section class="pl pl_c2">

	<a href="5003.php" class="h4">
		<i class="img"><img src="img/home/5003.jpg" width="80" height="80"></i>
<p>陪你过生日</p><p>编号:5003</p>
</a>

	<a href="5004.php" class="h4">
		<i class="img"><img src="img/home/5004.jpg" width="80" height="80"></i>
<p>生日快乐</p><p>编号:5004</p>
</a>

	<a href="5002.php" class="h4">
		<i class="img"><img src="img/home/5002.jpg" width="80" height="80"></i>
<p>缤纷祝福</p><p>编号:5002</p>
</a>
</section>
<section class="pl pl_c2">

	<a href="5009.php" class="h4">
		<i class="img"><img src="img/home/5009.jpg" width="80" height="80"></i>
<p>陪你过生日</p><p>编号:5009</p>
</a>

</section>

    
</section>
		
</section>

<section class="cnl">

<h3 class="h ht2">
	<em>更多微卡敬请期待~O(∩_∩)O~</em>
  </h3>
  
</section>

</body>
</html>