<?
require ('config.php');
?>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta http-equiv="Cache-Control" content="no-cache" />
<meta name="viewport" content="width=device-width"/>
<meta name="MobileOptimized" content="320"/>
<title>搞怪</title>

<link rel="stylesheet" type="text/css" href="css/homestyle.css" media="all">


</head>

<body class="pic">

<nav class="site all">
	<a  href="index.php">最新</a>
  <a href="love.php">爱情</a>
  <a href="show3.php">心情</a>
  <a href="greeting.php">问候</a>
  <a href="birthday.php">生日</a>
</nav>
<nav class="site all">
<a href="zhufu.php">祝福</a>
<a href="gaoguai.php" style="background:#ff9900">搞怪</a>
<a  href="http://mp.weixin.qq.com/s?__biz=MzAwMTEwNzkzOA==&mid=201127912&idx=1&sn=80608f6d258aa4230fc204ce580bb16f#rd">关注我领礼物</a>
</nav>

<section class="cnl">
<h3 class="h ht2">
	<em>搞怪</em>
	<p align="right"> <a style="color:color:#3783c6;font-size:12pt;" href="index.php">更多</a></p>
</h3>
<section class="pl pl_c2">
		<a href="4007.php" class="h4">

			<i class="img"><img src="img/home/4007.jpg" width="80" height="80"></i>

	<p>一秒钟变iphone</p><p>编号:4007</p></a>

		<a href="4005.php" class="h4">

			<i class="img"><img src="img/home/4005.jpg" width="80" height="80"></i>

	<p>愚人节的礼物</p><p>编号:4005</p></a>
	
		
		

	
	
		<a href="4003.php" class="h4">

			<i class="img"><img src="img/home/4003.jpg" width="80" height="80"></i>

	<p>古老的魔术</p><p>编号:4003</p></a>
	
	
		</section>
	<section class="pl pl_c2">
		<a href="http://218.22.84.70/youxi/games/zhaonige/" class="h4">

			<i class="img"><img src="img/home/4004.jpg" width="80" height="80"></i>

	<p>找你歌</p><p>趣味测试</p></a>

		<a href="1025.php" class="h4">

			<i class="img"><img src="img/home/1025.jpg" width="80" height="80"></i>

	<p>本人出租</p><p>编号:1025</p></a>
		
	

		
	</section>


    
</section>
		
</section>

<section class="cnl">

<h3 class="h ht2">
	<em>更多微卡敬请期待~O(∩_∩)O~</em>
  </h3>
  
</section>

</body>
</html>