<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-cache" />
<meta name="viewport" content="width=device-width"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="MobileOptimized" content="320"/>
<title>最新推荐</title>

<link rel="stylesheet" type="text/css" href="../css/homestyle.css" media="all">
   
</head>

<body class="pic">

<nav class="site all">
	<a style="background:#ff9900" href="index.html">最新</a>
  <a href="love.html">爱情</a>
  <a href="show3.html">心情</a>
  <a href="greeting.html">问候</a>
  <a href="birthday.html">生日</a>
</nav>
<nav class="site all">
<a href="zhufu.html">祝福</a>
<a href="gaoguai.html">搞怪</a>
<a  href="http://mp.weixin.qq.com/s?__biz=MzAwMTEwNzkzOA==&mid=201127912&idx=1&sn=80608f6d258aa4230fc204ce580bb16f#rd">关注我领礼物</a>
</nav>


<section class="cnl">
  <h3 class="h ht2">
	  <em>热门</em>
  </h3>

  <section class="pl pl_c2">
  
    <a href="02105.html" class="h4">
    	<i class="img"><img src="../img/home/02105.jpg" width="80" height="80"></i>
      <p>冬日问候</p><p>编号:02105</p>
    </a>
    <a href="03002.html" class="h4">
    	<i class="img"><img src="../img/home/03002.jpg" width="80" height="80"></i>
      <p>两颗心</p><p>编号:03002</p>
    </a>
	<a href="03003.html" class="h4">
    	<i class="img"><img src="../img/home/03003.jpg" width="80" height="80"></i>
      <p>爱的幸福</p><p>编号:03003</p>
    </a>
  </section>
  <section class="pl pl_c2">
    <a href="03001.html" class="h4">
    	<i class="img"><img src="../img/home/03001.jpg" width="80" height="80"></i>
      <p>最美情话</p><p>编号:03001</p>
    </a>
<a href="2031.html" class="h4">

			<i class="img"><img src="../img/home/2031.jpg" width="80" height="80"></i>

	<p>冬的祝福</p>
	</a>	
  </section>

  <section class="pl pl_c2">
    <a href="9370.html" class="h4">

			<i class="img"><img src="../img/home/9370.jpg" width="80" height="80"></i>

	<p>出去走走</p>
	</a>
	
	
	
	
		<a href="1025.html" class="h4">

			<i class="img"><img src="../img/home/1025.jpg" width="80" height="80"></i>

	<p>本人出租</p>
	</a>


  </section>


</section>


<section class="cnl">

<h3 class="h ht2">

	<em>心情</em>
	
	<p align="right"> <a style="background:#ff9900;padding:8px;color:#FFFF99;font-size:12pt;" href="./show3.html">更多</a></p>
	
</h3>
	<section class="pl pl_c2">
	
	
		<a href="2024.html" class="h4">

			<i class="img"><img src="../img/home/2024.jpg" width="80" height="80"></i>

	<p>黑白世界</p><p>编号:2024</p>
	</a>
		<a href="2023.html" class="h4">

			<i class="img"><img src="../img/home/2023.jpg" width="80" height="80"></i>

	<p>雨中落花</p><p>编号:2023</p></a>
	
	
		<a href="2021.html" class="h4">

			<i class="img"><img src="../img/home/2021.jpg" width="80" height="80"></i>

	<p>悠闲</p><p>编号:2021</p></a>
	
	</section>	
	
  <section class="pl pl_c2">
			<a href="2018.html" class="h4">

				<i class="img"><img src="../img/home/2018.jpg" width="80" height="80"></i>

		<p>心净 心静 心境</p><p>编号:2018</p>
		</a>
			<a href="2017.html" class="h4">

				<i class="img"><img src="../img/home/2017.jpg" width="80" height="80"></i>

		<p>咏莲</p><p>编号:2017</p></a>
		
			<a href="2019.html" class="h4">

			<i class="img"><img src="../img/home/2019.jpg" width="80" height="80"></i>

		<p>旅途</p><p>编号:2019</p></a>
	
	</section>
	<section class="pl pl_c2">
		<a href="2020.html" class="h4">

			<i class="img"><img src="../img/home/2020.jpg" width="80" height="80"></i>

	<p>寒冷的夜</p><p>编号:2020</p>
	</a>
		<a href="2014.html" class="h4">

			<i class="img"><img src="../img/home/2014.jpg" width="80" height="80"></i>

	<p>十字路口</p><p>编号:2014</p></a>
	
		<a href="2015.html" class="h4">

			<i class="img"><img src="../img/home/2015.jpg" width="80" height="80"></i>

	<p>一叶清晨</p><p>编号:2015</p>
	</a>
	</section>
	

</section>


    
<section class="cnl">
  <h3 class="h ht2">
  	<em>问候</em>
  	<p align="right"><a style="color:color:#3783c6;font-size:12pt;" href="greeting.html">更多</a></p>
  </h3>

  <section class="pl pl_c2">
    <a href="02001.html" class="h4">
    	<i class="img"><img src="../img/home/02001.jpg" width="80" height="80"></i>
      <p>秋之色</p>
    </a>
    <a href="02002.html" class="h4">
    	<i class="img"><img src="../img/home/02002.jpg" width="80" height="80"></i>
      <p>秋的问候</p>
    </a>
    <a href="02003.html" class="h4">
    	<i class="img"><img src="../img/home/02003.jpg" width="80" height="80"></i>
      <p>落叶知秋</p>
    </a>
  </section>
  
  <section class="pl pl_c2">
    <a href="02004.html" class="h4">
    	<i class="img"><img src="../img/home/02004.jpg" width="80" height="80"></i>
      <p>秋的问候</p>
    </a>
    <a href="02005.html" class="h4">
    	<i class="img"><img src="../img/home/02005.jpg" width="80" height="80"></i>
      <p>秋的收获</p>
    </a>
    <a href="02006.html" class="h4">
   		<i class="img"><img src="../img/home/02006.jpg" width="80" height="80"></i>
      <p>秋韵</p>
    </a>
  </section>
  
  <section class="pl pl_c2">
    <a href="02101.html" class="h4">
  		<i class="img"><img src="../img/home/02101.jpg" width="80" height="80"></i>
      <p>霜降赏景</p>
    </a>
    <a href="02102.html" class="h4">
  		<i class="img"><img src="../img/home/02102.jpg" width="80" height="80"></i>
      <p>冰雪世界</p>
    </a>
    <a href="02103.html" class="h4">
  		<i class="img"><img src="../img/home/02103.jpg" width="80" height="80"></i>
      <p>冬之精灵</p>
    </a>
  </section>

  <section class="pl pl_c2">
    <a href="02104.html" class="h4">
  		<i class="img"><img src="../img/home/02104.jpg" width="80" height="80"></i>
      <p>雪的情怀</p>
    </a>
    <a href="02105.html" class="h4">
  		<i class="img"><img src="../img/home/02105.jpg" width="80" height="80"></i>
      <p>冬日问候</p>
    </a>
    <a href="02401.html" class="h4">
    	<i class="img"><img src="../img/home/02401.jpg" width="80" height="80"></i>
      <p>周末快乐</p><p>编号:02401</p>
    </a>
  </section>
</section>



<section class="cnl">

<h3 class="h ht2">

	<em>爱情物语</em>
	
	<p align="right"> <a style="background:#ff9900;padding:8px;color:#FFFF99;font-size:12pt;" href="lover.html">更多</a></p>
	
</h3>

<section class="pl pl_c2">

	<a href="3008.html" class="h4">

		<i class="img"><img src="../img/home/3008.jpg" width="80" height="80"></i>

<p>爱的幸福</p><p>编号:3008</p></a>

	<a href="1031.html" class="h4">
			<i class="img">
				<img src="../img/home/1031.jpg" width="80" height="80">
				<p>幸福摩天轮</p><p>编号:1031</p>
			</i>
	</a>

	<a href="3007.html" class="h4">

		<i class="img"><img src="../img/home/3007.jpg" width="80" height="80"></i>

<p>我爱你</p><p>编号:3007</p></a>

</section>


<section class="pl pl_c2">

	<a href="3006.html" class="h4">
			<i class="img">
				<img src="../img/home/3006.jpg" width="80" height="80">
				<p>心愿瓶</p><p>编号:3006</p>
			</i>
	</a>

		<a href="3005.html" class="h4">
			<i class="img">
				<img src="../img/home/3005.jpg" width="80" height="80">
				<p>陪你看月亮</p><p>编号:3005</p>
			</i>
	</a>


</section>

</section>
    
</body>
</html>