#makecard { 
		background: rgba(00, 00, 00, 00) !important; /* rgba(00, 00, 00, 0.5) 透明 IE无效，FF有效 */
		background: #ffffff;
		position:absolute;
		left:20px;
		top:20px;
		padding:0;
		margin:0 auto;
		text-align:;left;
		cursor:pointer;
		max-width:192px;
		padding-left:0px;	
	    max-height:44px;
		z-index:50000;
		text-decoration:none;
		}

#makecard a {margin:2px; color:#fff;text-decoration:none;}